<!doctype html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="licence" href="https://www.parliament.uk/site-information/copyright-parliament/open-parliament-licence/" lang="en-GB" title="Open Parliament Licence"> 
    <title>Ontologies index</title>
    <style>
        body {font-family: sans-serif;line-height:1.4;max-width:42rem;padding:1rem;margin:1rem auto;}
        section {padding-top:2rem;} 
        article {padding-top:0.25rem;}
        h1 {font-weight: normal;}
        h2 {font-weight: normal;}
        </style>
</head>

<body>
   
    <header>

            <nav>
                <a href="https://ukparliament.github.io/ontologies/">UK Parliament ontologies</a> 
                &rarr;
                Ontologies index
            </nav>

    </header>

    <main>
        <section>
<ul>
    {% for htmlfile in htmlfiles %}
    <li><a href="https://ukparliament.github.io/ontologies/meta/{{ htmlfile }}">{{ htmlfile|stemonly }}</a></li>
{% endfor %}

</ul>
</section>
    </main>

    <footer>

        <p>Material on the <a href="{{ root_url }}">UK Parliament ontologies</a> site is made available under the <a href="https://www.parliament.uk/site-information/copyright-parliament/open-parliament-licence/">Open Parliament Licence v3.0</a>.</p>

    </footer>


</body>

</html>

