.DS_Store
.backup
.DS_Store
.vscode/
.#*
**/.#*
#*
**/#*
*#
**/*#
.idea/
/.idea/misc.xml
/.idea/modules.xml
/.idea/ontologies.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml

procedure/flowcharts/proposed-free-trade-agreement-scrutiny-document/
procedure/maps/treaties/proposed-free-trade-agreement-scrutiny-document/
