# Do not add (gitignore doesn't affect files already added)

# Folders
build/
env/
node_modules/
serve/
venv/
_site/

# Dotfiles
.*
!/.gitignore
!/.editorconfig
!/.eslintrc
!/.ruby-version

# Temporary and compiled files
*~
*.css.map
*.egg
*.exe
*.lock
*.log
*.pem
*.pid
*.pyc
*.retry
*.seed
*.so
*.swo
*.swp
*.tgz
*.vim
*.textClipping