<!doctype html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <style>
        body {
            font-family: system-ui;
            max-width: 42rem;
            margin: 1rem 0.5rem;
            padding: 0.5rem;
            color:black;
            background-color: white;
        }

        a {text-decoration: none;}

        a:hover {text-decoration: underline;}

        span.subhead {
            font-weight: normal;
        }

        a.link {
            font-weight: normal;
        }

        main {
            padding: 1rem 0;
        }

        p,
        li,
        nav {
            line-height: 1.4;
        }


        article {
            padding: 0.5rem 1rem;
            background-color: rgb(240, 240, 240);
            margin: 0.5rem 0;
        }

        ul {
            padding-left: 0;
            list-style-type: none;
        }

    </style>
</head>

<body>
    <header>
        <p>
                <strong><a href="{{ root_url }}">UK Parliament ontologies</a></strong>
        
        <br>Material on this site is made available under the <a href="https://www.parliament.uk/site-information/copyright-parliament/open-parliament-licence/">{{ rights|e }}</a>.</p>
    </header>

    <main>



        <h1>{{ title }}</h1>
        <nav id="local">  
            <a href="#classes">Classes</a> |
            <a href="#objectproperties">Object properties</a> |
            <a href="#dataproperties">Data properties</a> |
            {% if imports %}  <a href="#importedontologies">Imported ontologies</a> | {% endif %}
            {% if equivalentclasses %} <a href="#equivalentclasses">Equivalent classes</a> | {% endif %}
            {% if subClasses %} <a href="#subclasses">Subclasses</a> | {% endif %}
            <a href="#namespaces">Namespaces</a> |

            {% if depiction %}
    <a href="{{ depiction }}">Depiction</a>
    {% endif %}


    </nav>
        {% if description != "None" %}
        <section id="description">{{ description }}</section>
        {% endif %}

        

        {% if classes %}
        <section id="classes">
            <h2>Classes</h2>

            {% for class in classes|sort(attribute='label') %}
            <article class="class" id="{{ class.idString }}">
                <h3><a class="link" href="#{{ class.idString }}" title="#{{ class.idString }}">#</a> {{ class.label }}
                    <span class="subhead">class</span>
                </h3>
                {% if class.comment %}
                <p>{{ class.comment }}</p>
                {% endif %}

                {% if class.superclasses %}
                {% for superclass in class.superclasses %}
                <p>Superclass: {{ superclass }}.</p>
                {% endfor %}
                {% endif %}

            </article>
            {% endfor %}
        </section>
        {% endif %}

        {% if objectproperties %}

        <section id="objectproperties">
            <h2>Object properties</h2>

            {% for objectproperty in objectproperties|sort(attribute='label') %}

            <article class="objectproperty">

                <h3>{{ objectproperty.label }} <span class="subhead">object property</span></h3>

                {% if objectproperty.superproperty %}
                <p>Object property <strong>{{ objectproperty.label }}</strong> &rarr; is a subproperty of &rarr; Object
                    property <strong>{{ objectproperty.superproperty }}</strong></p>
                {% endif %}

                {% if objectproperty.comment %}
                <p>{{ objectproperty.comment }}</p>
                {% endif %}

                <p><strong>{{ objectproperty.domain }}</strong> &mdash; {{ objectproperty.label }} &mdash; <strong>{{ objectproperty.range }}</strong></p>

            </article>
            {% endfor %}
        </section>
        {% endif %}

        {% if dataproperties %}

        <section id="dataproperties">
            <h2>Data properties</h2>
            {% for dataproperty in dataproperties|sort(attribute='label') %}

            <article class="dataproperty">
                <h3>{{ dataproperty.label }} <span class="subhead">data property</span></h3>

                <p>{{ dataproperty.comment }}</p>

                <p><strong>{{ dataproperty.domain }}</strong> &mdash; {{ dataproperty.label }} &mdash; <strong>{{ dataproperty.range }}</strong></p>


            </article>
            {% endfor %}
        </section>

        {% endif %}


        {% if imports %}
        <section id="importedontologies">
            <h2>Imported ontologies</h2>

            <ul>
                {% for import in imports|sort %}

                {% if import.netloc == 'ukparliament.github.io' %}
                <li>{{ import.path|ttlpath2ontologyname }}</li>
                {% else %}

                <li>&lt;{{ import.netloc }}{{ import.path }}&gt;</li>

                {% endif %}

                {% endfor %}
            </ul>
        </section>
        {% endif %}


        {% if equivalentClasses %}
        <section id="equivalentclasses">
        <h2>Equivalent classes</h2>
        <table>
                {% for equivalentClass in equivalentClasses %}
                <tr>
                    <td>{{ equivalentClass.s|slash2wbr }}</td>
                    <td>{{ equivalentClass.o|slash2wbr }}</td>
                </tr>
                {% endfor %}
        </table>
        </section>  
        {% endif %}

        {% if subClasses %}
        <section id="subclasses">
        <h2>Subclasses</h2>
        <table>
                {% for subClass in subClasses %}
                <tr>
                    <td>{{ subClass.s|slash2wbr }}</td>
                    <td>{{ subClass.o|slash2wbr }}</td>
                </tr>
                {% endfor %}
        </table>
        </section>  
        {% endif %}

        {% if namespaces %}
        <section id="namespaces">
        <h2>Namespaces</h2>
        <table>
                {% for namespace in namespaces %}
                <tr>
                    <td style="width:20%;padding:0.5rem;">{{ namespace.p }}</td>
                    <td style="width:80%;">{{ namespace.n }}</td>
                </tr>
                {% endfor %}
        </table>
        </section>  
        {% endif %}


    </main>

    <footer>

        <p>Ontology created &middot; <time id="created">{{ created }}</time></p>
        
       
        {% if makers %}
        <p id="makers">
            Made by
            {% for maker in makers %}
            {% if maker.homepage|e != "None" %}
            &middot; <a href="{{ maker.homepage|e }}">{{ maker.name|e }}</a>
            {% else %}
            &middot; {{ maker.name|e }}
            {% endif %}
            {% endfor %}
        </p>
        {% endif %}

        <p>Source Turtle file &middot; <a href="{{ ttldir }}{{ ttlpath }}">github.com/ukparliament</a></p>
        
        <p>Visualization &middot; <a href="http://www.visualdataweb.de/webvowl/#iri={{ ttldir }}{{ ttlpath }}">visualdataweb.de/webvowl</a></p>

        <p>Page last modified &middot; </p>

    </footer>
</body>

</html>