body {
	max-width: 60ch;
	padding:1.5ch;
	line-height: 1.2;
	font-size: 1.2rem; 
	margin: auto;
	font-family: system-sans-serif,sans-serif;
	color: black;
	background: white;
}

.name {
	font-family: monospace;
}

div.rdf {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: monospace;
}

table.rdf {
	margin: 0;
	padding: 0;
	width: 100%;
}

dl {
	background: #fff;
	width: 100%;
	border: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

div {
	margin-top: 0;
	margin-bottom: 0;
}



a:link img,a:visited img {
	border-style: none;
}

a img {
	color: #fff;
}

@media all {
	a img {
		color: inherit;
	}
}

h1,h2,h3,h4,h5,h6 {
	text-align: left;
}

h1,h2,h3 {
	color: #005a9c;
	background: #fff;
}

h1 {
	font: 170% sans-serif;
}

h2 {
	font: 140% sans-serif;
}

h3 {
	font: 120% sans-serif;
}

h4 {
	font: bold 100% sans-serif;
}

h5 {
	font: italic 100% sans-serif;
}

h6 {
	font: small-caps 100% sans-serif;
}

div.head {
	margin-bottom: 1em;
}

div.head h1 {
	margin-top: 2em;
	clear: both;
}

div.head table {
	margin-left: 2em;
	margin-top: 2em;
}

@media screen {
	a[href]:hover {
		background: #ffa;
	}
}

dd,dt {
	margin-top: 0;
	margin-bottom: 0;
}

dt {
	font-weight: 700;
}

ol.toc,ul.toc {
	list-style: disc;
	list-style: none;
}

@media aural {
	h1,h2,h3 {
		stress: 20;
		richness: 90;
	}

	p.copyright {
		volume: x-soft;
		speech-rate: x-fast;
	}

	dt {
		pause-before: 20%;
	}
}

h1 {
	line-height: 110%;
}

.hlist {
	border: 1px solid navy;
	padding: 5px;
	background-color: #f4ffff;
}

.hlist li {
	display: inline;
	display: inline-table;
	list-style-type: none;
	padding-right: 20px;
}

.entity {
	border: 1px solid navy;
	margin: 5px 0 5px 0;
	padding: 5px;
}

.type-c {
	cursor: help;
	color: orange;
}

.type-op {
	cursor: help;
	color: navy;
}

.type-dp {
	cursor: help;
	color: green;
}

h3 {
	margin-top: 3px;
	padding-bottom: 5px;
	border-bottom: 1px solid navy;
}

h2 {
	margin-top: 40px;
}

.dotted {
	border-bottom: 1px dotted gray;
}

dt {
	margin-top: 5px;
}

.description {
	border-top: 1px dashed gray;
	border-bottom: 1px dashed gray;
	background-color: #f2f3f4;
	margin-top: 5px;
	padding-bottom: 5px;
}

.description dl {
	background-color: #f2f3f4;
}

.description ul {
	padding-left: 12px;
	margin-top: 0;
}

.backlink {
	font-size: 10pt;
	text-align: right;
	float: right;
	color: #000;
	padding: 2px;
	border: 1px dotted navy;
	background-color: #f4ffff;
}

.endnote {
	margin-top: 40px;
	border-top: 1px solid gray;
	padding-top: 10px;
	text-align: center;
	color: gray;
	font-size: 70%;
}
